<h2>Por capital</h2>
<hr>

<div class="row">
  <div class="col">
    <!-- Search box -->
    <shearch-search-box
      (onNewValue)="searchByCapital($event)"
      [initialValue]="initialValue"
      placeholder="Ingrese capital"
    >

    </shearch-search-box>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
    <!--
     -->
     <shared-loading-spinner *ngIf="isLoading" [arg]="arg"></shared-loading-spinner>
     <countries-table [countries]="countries"></countries-table>

  </div>
</div>
